<!DOCTYPE html>
	<html>
		<head>
			<title>Pubmedsearchtool</title>
			<meta charset="UTF-8">
			<meta name="Description" content="A proof of concept for searching pubmed">
			<link rel="stylesheet" type="text/css" href="static/index.css">
		</head>
		<body>

    <h1><u>LOX-finder</u></h1>

			<div class="form">
			<form method="get" action="./table">
				<h4>Eiwit</h4>
				<input type="text" name="Eiwit" value={{eiwit}}>
				<h4>Jaartal</h4>
				<input type="text" name="Jaartal" value={{jaartal}}>
				<input type="submit" name="Submit" value="Search">
			</div>
		</body>
	</html>
