<!DOCTYPE html>
	<html>
		<head>
			<title>Pubmedsearchtool</title>
			<meta charset="UTF-8">
			<meta name="Description" content="A proof of concept for searching pubmed">
            <link rel="stylesheet" type="text/css" href="static/table.css">
		</head>
		<body>

            <h1>Zoek resultaten</h1>

			<div class="headinfo">
				{{eiwit}}
				{{jaartal}}
			</div>
			<div class="protein">
				{{protein|safe}}
			</div>
			<div class="table">

				<table border= 1, class="table table-hover" >
				<tr>
				<th>PubMed ID</th>
				<th>Titel</th>
				<th>Auteurs</th>
				<th>Datum publicatie</th>
				<th>Classification(s)</th>
				<th>Keywords</th>
				</tr>
				{{artrows|safe}}

				</table>
			</div>

		</body>
	</html>
