<!DOCTYPE html>
	<html>
		<head>
			<title>Pubmedsearchtool</title>
			<meta charset="UTF-8">
			<meta name="Description" content="A proof of concept for searching pubmed">
		</head>
		<body>
			<div class="headinfo">
				{{eiwit}}
				{{jaartal}}
			</div>
			<div class="proteininfo">
				{{protein|safe}}
			</div>
			<div class="table">
				<table border=1>
				<tr>
				<th>PubMed ID</th>
				<th>Titel</th>
				<th>Auteurs</th>
				<th>Datum publicatie</th>
				<th>Classification(s)</th>
				<th>Keywords</th>
					<th>Abstract</th>
				</tr>
				{{artrows|safe}}
				</table>
			</div>
		</body>
	</html>
